@{
    Layout = null;
}

@model TestApp1.Models.Address

<tr>
    <td>Line1</td>
    <td>@Model.Line1</td>
</tr>
<tr>
    <td>Line2</td>
    <td>@Model.Line2</td>
</tr>
<tr>
    <td>City</td>
    <td>@Model.City</td>
</tr>
<tr>
    <td>State Code</td>
    <td>@Model.StateCode</td>
</tr>

